{% extends 'page/base.html' %}
{% block content %}

<div id="org_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Organizatorzy</h1>
</div>
</div>
</div>
</div>

<div id="organizers" class="container without_bground">
<div class="row">

<div class="col-md-4">
  <img src="/static/photos/widlak.png" class="round organizer-pic img-responsive">
<h2>phm. Widłak Widłakowaty</h2>
<p>lycopodium@clavatum.pl</p>
<p>Łodyga składa się z odcinka płożącego się po ziemi, widlasto rozgałęzionego z
drobnymi liśćmi. Szczytowa część łodygi wyrasta pionowo i zakończona jest kłosem
lub kilkoma kłosami zarodnionośnymi.</p>
</div>

<div class="col-md-4">
  <img src="/static/photos/julia_kw.jpg" class="round organizer-pic img-responsive">
<h2>pwd. Nie Czarna Pantera</h2>
<p>pantera@jungle.com</p>
<p>Informacje o naszej cudownej Nie Czarnej Panterze już wkrótce!</p>
</div>


<div class="col-md-4">
  <img src="/static/photos/krzak_kw.jpg" class="round organizer-pic img-responsive">
<h2>phm. Niedźwiedź Jaskiniowy</h2>
<p>niedźwiedź@stoleczna.zhp.pl</p>
<p>Jestem niedźwiedziem, lubię spać.</p>
</div>
</div>

</div>


{% endblock %}
