{% extends 'page/base.html' %}
{% block content %}

<div id="program_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Program</h1>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
<h2>Czego spodziewać się po Kursie?</h2>
<p>
Fauna ediakarańska (ang. Ediacaran IPA: [ˌiːdɪˈækəɹən], wcześniej fauna wendu) –
 zespół wymarłych organizmów okresu ediakaru, reprezentujących najstarsze znane
  organizmy wielokomórkowe. Pojawiły się one wkrótce po "odwilży" epoki lodowcowej
   okresu kriogeńskiego, i w większości zniknęły tuż przed gwałtownym wzrostem
    bioróżnorodności znanym jako eksplozja kambryjska, z którego to okresu pochodzą

</p>
</div>
</div>

<div id="program_image" class="with_bground">
<div class="overlay">
<div class="container">
<div>
<p>     najstarsze skamieniałości organizmów o planach budowy podobnych do tych,
     które cechują współcześnie żyjące organizmy zwierzęce. Różnorodność fauny
     ediakarańskiej w niewielkim stopniu przypomina nowe schematy budowy późniejszych
 organizmów: były to nowe, całkiem odrębne formy organizmów kambryjskich
które zdominowały zapis kopalny ediakaru.</p>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
  <p>
Charakterystyczne dla ptaków nowoczesnych (Neornithes) są: skóra wytwarzająca
pióra, przednie kończyny przekształcone w skrzydła, szczęki okryte rogowym dziobem,
u współczesnych przedstawicieli pozbawionym zębów, lekki, mocny szkielet i
czterodziałowe serce. Ptaki są zazwyczaj zdolne do lotu (choć niektóre gatunki
są wtórnie nielotne) – ich układ pokarmowy oraz oddechowy są przystosowane do tej zdolności.
</p>
</div>
</div>
{% endblock %}
